asda
:root{
    scrollbar-face-color: rgb(210,210,210); /* Firefox 63 compatibility */
    scrollbar-track-color: rgb(46,54,69); /* Firefox 63 compatibility */
    scrollbar-color: rgba(whitesmoke, .2) rgba(173, 173, 173, 1);
    scrollbar-width:  !important;
  }
  
  ::-webkit-scrollbar {
      width: 1rem;
  }
  
  ::-webkit-scrollbar-thumb {
      border-radius: 30px;
      background: -webkit-gradient(linear,left top,left bottom,from(#d6d6d6),to(#d6d6d6));
      box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(175, 175, 175, 0.25);
  }
  
  ::-webkit-scrollbar-track {
      background-color: #fff;
      background: linear-gradient(to right,#ebebeb,#ebebeb 1px,#ebebeb 1px,#ebebeb);
  }
  
  .scroller {
     scrollbar-color: rgba(whitesmoke, .2) rgba(173, 173, 173, 1);
     /* scrollbar-width: thin; */
     /* height: 500px; */
     overflow: hidden;
     overflow-y: scroll;
     scrollbar-width: 1rem !important;
  }
  /* .scroller:hover {
      overflow-y: scroll;
  } */
  ::-moz-scrollbar {
  width: 6px;
  }
  ::-moz-scrollbar-track {
     background-color: #fff;
     background: linear-gradient(to right,#ebebeb,#ebebeb 1px,#ebebeb 1px,#ebebeb);
  }
  ::-moz-scrollbar-thumb {
     border-radius: 30px;
     background: -webkit-gradient(linear,left top,left bottom,from(#d6d6d6),to(#d6d6d6));
     box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(175, 175, 175, 0.25);
  }
  
  
  /* gunakan yang ini */
  
  .scrollbox {
      width: 100%;
      height: 400px;
      visibility: hidden;
      overflow-x: hidden;
      transition: .5s !important;
      transition-delay: .4s;
      overflow-y: scroll !important;
      scrollbar-width: thin;
    }
    .scrollbox-content,
    .scrollbox:hover,
    .scrollbox:focus {
      visibility: visible;
    }
  